.clearfix::after {
	content:"";
	display: table;
	clear: both;
}

.container {
	width:1000px;
	margin: auto;
}

.header {
	
}

.logo {
	float: left;
	width: 60px;
	height: 60px;
	background-image: url(logo.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.logo__link {
	padding: 40px 60px;

}

.header-menu {
	float: right;
}

.header-menu__item {
	display: block;
	float: left;
	padding:25px 0;
	
}

.header-menu__link {
	text-decoration: none;
	color:#686868;
	padding: 10px 20px;
	border-radius: 2px;
	text-transform: uppercase;
	font-size: 8.5pt;
	font-family: Helvetica;
}

.header-menu__link:hover {
	background-color: #FFCC00;
	color: #fff;
}


.section--blue {
	background-color: #6598EB;
	padding-bottom: 290px;
}

.s--b__caption {
	width: 80%;
	margin: auto;
	padding-top: 80px;
	padding-bottom: 30px;
}

.s--b__caption__header {
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-size: 22pt;
	font-family: Arial Black;
	padding-bottom: 5px;
}

.s--b__caption__text {
	color: #fff;
	text-align: center;
	font-family: Arial;
}

.section--blue__forms {
	width: 90%;
	margin: auto;
	padding-bottom: 60px;
}

.s--b__input {
	width: 25%;
	height: 40px;
	color: #909090;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #d8d8d8;
	border-radius: 1px;
}

.s--b__submit {
	color: #fff;
	background-color: #FFCC00;
	border: none;
	border-radius: 1px;
	padding: 10px;
	box-sizing: border-box;
	width: 20%;
	height:40px;
}

.section--_laptop {
	position: absolute;
	left:450px;
	width:100%;
	height:350px;
	background-image: url(_laptop.png);
	background-repeat: no-repeat;
}

.section--laptop {
	position: absolute;
	left:554px;
	top: 345px;
	width:100%;
	height:350px;
	background-image: url(laptop.png);
	background-repeat: no-repeat;
}