.clearfix::after {
	content:"";
	display: table;
	clear: both;
}

.container {
	width:1000px;
	margin: auto;
}

.header {
	
}

.logo {
	float: left;
	width: 60px;
	height: 60px;
	background-image: url(logo.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.logo__link {
	padding: 40px 60px;

}

.header-menu {
	float: right;
}

.header-menu__item {
	display: block;
	float: left;
	padding:25px 0;
	
}

.header-menu__link {
	text-decoration: none;
	color:#686868;
	padding: 10px 20px;
	border-radius: 2px;
	text-transform: uppercase;
	font-size: 8.5pt;
	font-family: Helvetica;
}

.header-menu__link:hover {
	background-color: #fb0;
	color: #fff;
}


.section--blue {
	background-color: rgba(102, 146, 227, 0.85);
	padding-bottom: 290px;
}

.s--b__caption {
	width: 80%;
	margin: auto;
	padding-top: 80px;
	padding-bottom: 30px;
}

.s--b__caption__header {
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-size: 22pt;
	font-family: Arial Black;
	padding-bottom: 5px;
}

.s--b__caption__text {
	color: #fff;
	text-align: center;
	font-family: Arial;
}

.section--blue__forms {
	width: 90%;
	margin: auto;
	padding-bottom: 60px;
}

.s--b__input {
	width: 25%;
	height: 40px;
	color: #909090;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #d8d8d8;
	border-radius: 1px;
}

.s--b__submit {
	color: #fff;
	background-color: #fb0;
	border: none;
	border-radius: 1px;
	padding: 10px;
	box-sizing: border-box;
	width: 20%;
	height:40px;
}

.s--b__submit:hover{
	cursor: pointer;
}

.section--_laptop {
	position: absolute;
	left:450px;
	width:650px;
	height:350px;
	background-image: url(_laptop.png);
	background-repeat: no-repeat;
}

.section--laptop {
	position: absolute;
	left:554px;
	top: 345px;
	width:450px;
	height:350px;
	background-image: url(laptop.png);
	background-repeat: no-repeat;
}

.service {
	padding-top: 150px;
}

.service__caption {
	width: 40%;
	margin: auto;
	padding-bottom: 50px;
}

.service__header {
	color: #000;
	text-align: center;
	text-transform: uppercase;
	font-family: Arial Black;
	font-size: 19pt;
	padding-bottom: 5px;
}

.service__text {
	color: #707070;
	text-align: center;
	font-family: Arial;
	font-size: 11pt;
}

.s__c--column {
	box-sizing: border-box;
	width: 50%;
	height:150px;
	display: inline-block;
	margin-right: -5px;
	vertical-align: top;

}

.column__header--l {
	text-transform: uppercase;
	font-family: Arial;
	font-weight: bold;
	font-size: 11pt;
	padding-bottom: 10px;
	padding-right: 50px;
}

.column__text--l {
	color: #909090;
	font-family: Arial;
	font-size: 9pt;
	line-height: 20px;
	padding-right:  50px;
}

.column__header--r {
	text-transform: uppercase;
	font-family: Arial;
	font-weight: bold;
	font-size: 11pt;
	padding-bottom: 10px;
	padding-left: 70px;
}

.column__text--r {
	color: #909090;
	font-family: Arial;
	font-size: 9pt;
	line-height: 20px;
	padding-left: 70px;
}

.column-img1 {
	width:100px;
	height: 100px;
	position: relative;
	background: url(clock.png) no-repeat;
	float: left;
	display: inline-block;
}

.column-img2 {
	width:100px;
	height: 100px;
	position: relative;
	background: url(hat.png) no-repeat;
	float: left;
	display: inline-block;
}

.column-img3 {
	width:100px;
	height: 100px;
	position: relative;
	background: url(circle.png) no-repeat;
	float: left;
	display: inline-block;
}

.column-img4 {
	width:100px;
	height: 100px;
	position: relative;
	background: url(settings.png) no-repeat;
	float: left;
	display: inline-block;
}

.column-img5 {
	width:100px;
	height: 100px;
	position: relative;
	background: url(rocket.png) no-repeat;
	float: left;
	display: inline-block;
}

.column-img6 {
	width:100px;
	height: 100px;
	position: relative;
	background: url(dollar.png) no-repeat;
	float: left;
	display: inline-block;
	left: 15px;
}

.section--yellow {
	background-color: rgba(247, 167, 17, 0.75);
}

.s--y__left {
	width: 750px;
	height:550px;
	position: relative;
	background: url(table.png) no-repeat;
	background-size: 750px;
	float: left;
}

.s--y__right {
	width: 400px;
	float: right;
	padding-top: 150px;
	padding-bottom: 100px;
	display: inline-block;
}

.s--y__header {
	color: #fff;
	text-transform: uppercase;
	font-family: Arial Black;
	font-size: 19pt;
	padding-bottom: 20px;
}

.s--y__text {
	color: #fff;
	font-family: Arial;
	font-size: 9pt;
	line-height: 20px;
	padding-bottom: 20px;
}

.s--y__button {
	color: #fff;
	text-transform: uppercase;
	font-family: Arial;
	font-size: 10pt;
	background-color: rgba(247, 167, 17, 0.75);
	border: 1px solid #d49c04;
	border-radius: 1px;
	box-sizing: border-box;
	padding:10px 15px;
	width: 120px;
}



.section--grey {
	background-color: #dde7eb;
	height: 600px;
	padding-top: 100px;
}

.s--g__caption {
	width:50%;
	margin: auto;
	padding-bottom: 40px;
}

.s--g__header {
	color: #000;
	text-transform: uppercase;
	text-align: center;
	font-family: Arial Black;
	font-size: 19pt;
	padding-bottom: 5px;
}

.s--g__text {
	color: #909090;
	font-family: Arial;
	font-size: 10pt;
	text-align: center;
}

.s--g__columns {
	width:910px;
	margin:auto;
	height:400px;
}

.s--g__column1 {
	display: block;
	float: left;
	height: 350px;
	width: 300px;
	border: 1px solid #d8d8d8;
	border-right: none;
	background-color: #fff;
	margin-top: 25px;
}

.s--g__column2 {
	display: block;
	float: left;
	height: 400px;
	width: 300px;
	border: 1px solid #d8d8d8;
	border-right: none;
	border-left: none;
	background-color: rgba(102, 146, 227, 0.90) ;
	padding-top: 25px;
	box-sizing: border-box;
}

.s--g__column3 {
	display: block;
	float: left;
	height: 350px;
	width: 300px;
	border: 1px solid #d8d8d8;
	border-left: none;
	background-color: #fff;
	margin-top: 25px;
}

.column__header {
	color: #909090;
	text-transform: uppercase;
	text-align: center;
	font-family: Arial;
	font-size: 17pt;
	padding-top: 30px;
}

.column2__header {
	color: #fff;

}

.column__number {
	color: rgba(247, 167, 17, 0.75);
	font-family: Arial;
	font-size: 40pt;
	text-align: center;
	padding-top: 20px;
}

.column2__number {
	color: #fff;
}

.sup {
	vertical-align: super;
	font-size: 35px;
}

.column__PM {
	color: #909090;
	text-align: center;
	text-transform: uppercase;
	font-family: Arial;
	font-size: 8pt;
	padding-bottom: 20px;
}

.column2__PM {
	color:#fff;
}

.column__line {
	width: 250px;
	background-color: #d0d0d0;
	border:none;
	height: 1px;
}

.column2__line {
	background-color: #ade8ff;
}

.column__text {
	padding-bottom: 5px;
	color: #c0c0c0;
	text-transform: uppercase;
	text-align: center;
	font-family: Arial;
	font-size: 8pt;
}
.column2__text {
	color: #c1d9e3;
}

.s--g__submit {
	width: 120px;
	margin: auto;
	padding-top: 30px;
}

.s--g__button {
	color: #fff;
	text-transform: uppercase;
	font-family: Arial;
	font-size: 10pt;
	background-color: rgb(247, 167, 17);
	border: 1px solid  rgb(247, 167, 17);
	border-radius: 1px;
	box-sizing: border-box;
	padding:10px 15px;
	width: 130px;
	cursor: pointer;
}




.HIW {
	padding-top: 100px;
}

.HIW__caption {
	width: 50%;
	margin: auto;
}

.HIW__header {
	text-transform: uppercase;
	text-align: center;
	font-family: Arial Black;
	font-size: 19pt;
	padding-bottom: 5px;
}

.HIW__text {
	color: #606060;
	text-align: center;
	font-family: Arial;
	font-size: 11pt;
}

.HIW__imgs {
	height: 200px;
	width:870px;
	margin: auto;
	padding-top: 50px; 
}

.img--headphones {
	position: relative;
	width: 70px;
	height: 100px;
	background:  url(headphones.png) no-repeat;
	display: inline-block;
	top: 50px;
	background-size: 70px;
	padding-right: 30px;
}

.img--arrow {
	position: relative;
	width:120px;
	height: 100px;
	background:  url(arrow.png) no-repeat;
	display: inline-block;
	background-size: 120px;
	padding-right: 30px;
}

.img--arrow2 {
	top: 70px;
	transform: rotate(180deg);
}

.img--lock {
	position: relative;
	width:50px;
	height: 100px;
	background:  url(lock.png) no-repeat;
	display: inline-block;
	top: 50px;
	background-size: 50px;
	padding-right: 30px;

}

.img--cloud {
	position: relative;
	width:70px;
	height: 100px;
	background:  url(cloud.png) no-repeat;
	display: inline-block;
	top: 50px;
	background-size: 70px;
	padding-right: 30px;
}

.img--like {
	position: relative;
	width:70px;
	height: 100px;
	background:  url(like.png) no-repeat;
	display: inline-block;
	top: 50px;
	background-size: 70px;
}

.HIW__columns {
	width: 100%;
	padding-bottom: 50px;
}

.HIW__column {
	display: block;
	float: left;
	width: 200px;
	padding-right: 50px;
}

.HIW__column--header {
	text-transform: uppercase;
	text-align: center;
	font-family: Arial;
	font-size: 14pt;
	font-weight: bold;
	padding-bottom: 10px;
}

.HIW__column--text {
	color: #909090;
	font-family: Arial;
	font-size: 9pt;
	line-height: 20px;
	text-align: center;
	padding-bottom: 50px;
}

.HIW__submit {
	width: 170px;
	margin: auto;
	padding-bottom: 100px;
}

.HIW__button {
	color: #fff;
	text-transform: uppercase;
	font-family: Arial;
	font-size: 10pt;
	background-color: rgb(247, 167, 17);
	border: 1px solid  rgb(247, 167, 17);
	border-radius: 1px;
	box-sizing: border-box;
	padding:10px 15px;
	width: 150px;
	cursor: pointer;
}



.HC {
	background-color: rgba(247, 167, 17, 0.75);
	padding-top: 130px;
}

.HC__caption {
	width: 500px;
	margin: auto;
}

.HC__header {
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-family: Arial Black;
	font-size: 19pt;
	padding-bottom: 5px;
}

.HC__text {
	color: #fff;
	text-align: center;
	font-family: Arial;
	font-size: 11pt;
}

.HC__columns {
	padding-top: 50px;
}

.HC__column {
	height: 230px;
	width: 465px;
	background-color: #fff;
	display: block;
	float: left;
	margin: 0 35px 20px 0;
}

.avatar {
	width: 130px;
	height: 130px;
	background: url(1600.png) no-repeat;
	position: relative;
	background-size: 140px;
	top: 40px;
	left: 25px;
}

.HC__column__texts {
	width: 65%;
	float: right;
	padding-top: 50px;
}

.HC__column__text {
	color: #707070;
	font-family: Arial;
	font-size: 9pt;
	line-height: 20px;
}

.HC__column__who-is-it {
	padding-top: 30px;
	width: 300px;
	float: right;
}

.HC__c__w-i-i__text {
	color: #909090;
	text-transform: uppercase;
	font-family: Arial;
	font-size: 10pt;
}

.HC__column--name {
	color: orange;
}


.section--map__caption {
	width: 400px;
	margin: auto;
	padding-top: 100px;
	padding-bottom: 30px;
}

.s--m__header {
	text-align: center;
	text-transform: uppercase;
	font-family: Arial Black;
	font-size: 19pt;
	padding-bottom: 5px;
}

.s--m__text {
	text-align: center;
	color: #707070;
	font-family: Arial;
	font-size: 11pt;
}

.section--map__form {
	margin: auto;
	width: 900px;
	padding-bottom: 50px;
}

.s--m__input {
	border: 1px solid #b7b7b7;
	border-radius: 2px;
	padding: 10px;
	box-sizing: border-box;
	margin-right: 5px;
	color: #b7b7b7;
}

.s--m__i--name {
	width:300px;
}

.s--m__i--email {
	width: 350px;
}

.s--m__submit {
	color: #fff;
	text-transform: uppercase;
	font-family: Arial;
	font-size: 10pt;
	background-color: rgb(247, 167, 17);
	border: 1px solid  rgb(247, 167, 17);
	border-radius: 1px;
	box-sizing: border-box;
	padding:10px 15px;
	width: 200px;
	cursor: pointer;
}

.section--map__bgimg {
	width: 1000px;
	height: 550px;
	background: url(map.png) no-repeat;
	position: relative;
	background-size: 1000px;
}

.s--m__line {
	width: 1000px;
	background-color: #d0d0d0;
	border:none;
	height: 1px;
}

.s--m__circle {
	position: absolute;
	width: 250px;
	height: 250px;
	background-color: #3a484f;
	border-radius: 180px;
	left: 360px;
	top: 30px;
	padding-top: 50px;
	box-sizing: border-box;
}

.c__header {
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-family: Helvetica;
	font-size: 10pt;
	padding-bottom: 10px;
}

.c__text{
	color: #8698a0;
	text-align: center;
	font-family: Helvetica;
	font-size: 9pt;
	line-height: 25px;
}

.c__link {
	color: rgb(247, 167, 17);
	padding-left: 60px;
	text-decoration: none;
	font-family: Helvetica;
	font-size: 9pt;
}

.s--m__triangle {
	width:20px;
	height:20px;
	position: absolute;
	background-color: #3a484f;
	transform: rotate(50grad);
	left:475px;
	top:268px;
}

.s--m__logo {
	position: absolute;
	width: 60px;
	height: 60px;
	background-image: url(logo.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	left:455px;
	top:300px;
}

.s--m__menu {
	padding-top: 20px;
	margin: auto;
	width:720px;
}

.s--m__menu__link {
	text-decoration: none;
	color:#000;
	padding: 10px 15px;
	border-radius: 2px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 9pt;
	font-family: Helvetica;
}

.s--m__menu__link:hover {
	background-color: #fb0;
	color: #fff;
}

.s--m__phone {
	width: 160px;
	margin: auto;
	padding-bottom: 50px;
}

.s--m__phone__text {
	color: #000;
	font-size: 15pt;
	font-family: Helvetica;
}

.section__copyright {
	background-color: rgba(102, 146, 227, 0.85);
	height: 30px;
	padding-top: 15px;
}

.s__c--copyright {
	width: 300px;
	margin: auto;
}

.s__c--copyright__text {
	color: #fff;
	text-align: center;
	font-size: 10pt;
	font-family: Helvetica;
}