.clearfix::after {
	content:"";
	display: table;
	clear: both;
}

.container {
	width:1000px;
	margin: auto;
}

.header {
	
}

.logo {
	float: left;
	width: 60px;
	height: 60px;
	background-image: url(logo.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.logo__link {
	padding: 40px 60px;

}

.header-menu {
	float: right;
}

.header-menu__item {
	display: block;
	float: left;
	padding:25px 0;
	
}

.header-menu__link {
	text-decoration: none;
	color:#686868;
	padding: 10px 20px;
	border-radius: 2px;
	text-transform: uppercase;
	font-size: 8.5pt;
	font-family: Helvetica;
}

.header-menu__link:hover {
	background-color: #fb0;
	color: #fff;
}


.section--blue {
	background-color: rgba(102, 146, 227, 0.85);
	padding-bottom: 290px;
}

.s--b__caption {
	width: 80%;
	margin: auto;
	padding-top: 80px;
	padding-bottom: 30px;
}

.s--b__caption__header {
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-size: 22pt;
	font-family: Arial Black;
	padding-bottom: 5px;
}

.s--b__caption__text {
	color: #fff;
	text-align: center;
	font-family: Arial;
}

.section--blue__forms {
	width: 90%;
	margin: auto;
	padding-bottom: 60px;
}

.s--b__input {
	width: 25%;
	height: 40px;
	color: #909090;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #d8d8d8;
	border-radius: 1px;
}

.s--b__submit {
	color: #fff;
	background-color: #fb0;
	border: none;
	border-radius: 1px;
	padding: 10px;
	box-sizing: border-box;
	width: 20%;
	height:40px;
}

.s--b__submit:hover{
	cursor: pointer;
}

.section--_laptop {
	position: absolute;
	left:450px;
	width:650px;
	height:350px;
	background-image: url(_laptop.png);
	background-repeat: no-repeat;
}

.section--laptop {
	position: absolute;
	left:554px;
	top: 345px;
	width:450px;
	height:350px;
	background-image: url(laptop.png);
	background-repeat: no-repeat;
}

.service {
	padding-top: 150px;
}

.service__caption {
	width: 40%;
	margin: auto;
	padding-bottom: 50px;
}

.service__header {
	color: #000;
	text-align: center;
	text-transform: uppercase;
	font-family: Arial Black;
	font-size: 20pt;
	padding-bottom: 5px;
}

.service__text {
	color: #707070;
	text-align: center;
	font-family: Arial;
	font-size: 11pt;
}

.s__c--column {
	box-sizing: border-box;
	width: 50%;
	height:150px;
	display: inline-block;
	margin-right: -5px;
	vertical-align: top;

}

.column__header--l {
	text-transform: uppercase;
	font-family: Arial;
	font-weight: bold;
	font-size: 11pt;
	padding-bottom: 10px;
	padding-right: 50px;
}

.column__text--l {
	color: #909090;
	font-family: Arial;
	font-size: 9pt;
	line-height: 20px;
	padding-right:  50px;
}

.column__header--r {
	text-transform: uppercase;
	font-family: Arial;
	font-weight: bold;
	font-size: 11pt;
	padding-bottom: 10px;
	margin-left: 100px;
}

.column__text--r {
	color: #909090;
	font-family: Arial;
	font-size: 9pt;
	line-height: 20px;
	margin-left: 100px;
}

.column-img1 {
	width:100px;
	height: 100px;
	position: absolute;
	background: url(clock.png) no-repeat;
	top:860px;
	left: 190px;
}

.column-img2 {
	width:100px;
	height: 100px;
	position: absolute;
	background: url(hat.png) no-repeat;
	top:1010px;
	left: 180px;
}

.column-img3 {
	width:100px;
	height: 100px;
	position: absolute;
	background: url(circle.png) no-repeat;
	top:1160px;
	left: 190px;
}

.column-img4 {
	width:100px;
	height: 100px;
	position: absolute;
	background: url(settings.png) no-repeat;
	top:860px;
	left: 790px;
}

.column-img5 {
	width:100px;
	height: 100px;
	position: absolute;
	background: url(rocket.png) no-repeat;
	top:1010px;
	left: 785px;
}

.column-img6 {
	width:100px;
	height: 100px;
	position: absolute;
	background: url(dollar.png) no-repeat;
	top:1160px;
	left: 800px;
}

.section--yellow {
	background-color: rgba(247, 167, 17, 0.75);
	height: 549px;
}

.s--y__left {
	width: 900px;
	height:550px;
	position: absolute;
	background: url(table.png) no-repeat;
	background-size: 750px;
	top:1313px;
	left: 0;
}

.s--y__right {
	width: 40%;
	float: right;
	padding-top: 150px;
	padding-bottom: 100px;
}

.s--y__header {
	color: #fff;
	text-transform: uppercase;
	font-family: Arial Black;
	font-size: 18pt;
	padding-bottom: 20px;
}

.s--y__text {
	color: #fff;
	font-family: Arial;
	font-size: 9pt;
	line-height: 20px;
	padding-bottom: 20px;
}

.s--y__button {
	color: #fff;
	text-transform: uppercase;
	font-family: Arial;
	font-size: 10pt;
	background-color: rgba(247, 167, 17, 0.75);
	border: 1px solid #d49c04;
	border-radius: 1px;
	box-sizing: border-box;
	padding:10px 15px;
	width: 120px;
}



.section--grey {
	background-color: #dde7eb;
	height: 600px;
	padding-top: 100px;
}

.s--g__caption {
	width:50%;
	margin: auto;
	padding-bottom: 40px;
}

.s--g__header {
	color: #000;
	text-transform: uppercase;
	text-align: center;
	font-family: Arial Black;
	font-size: 19pt;
	padding-bottom: 5px;
}

.s--g__text {
	color: #909090;
	font-family: Arial;
	font-size: 10pt;
	text-align: center;
}

.s--g__columns {
	width:910px;
	margin:auto;
	height:400px;
}

.s--g__column1 {
	display: block;
	float: left;
	height: 350px;
	width: 300px;
	border: 1px solid #d8d8d8;
	border-right: none;
	background-color: #fff;
	margin-top: 25px;
}

.s--g__column2 {
	display: block;
	float: left;
	height: 400px;
	width: 300px;
	border: 1px solid #d8d8d8;
	border-right: none;
	border-left: none;
	background-color: rgba(102, 146, 227, 0.90) ;
	padding-top: 25px;
	box-sizing: border-box;
}

.s--g__column3 {
	display: block;
	float: left;
	height: 350px;
	width: 300px;
	border: 1px solid #d8d8d8;
	border-left: none;
	background-color: #fff;
	margin-top: 25px;
}

.column__header {
	color: #909090;
	text-transform: uppercase;
	text-align: center;
	font-family: Arial;
	font-size: 17pt;
	padding-top: 30px;
}

.column2__header {
	color: #fff;

}

.column__number {
	color: rgba(247, 167, 17, 0.75);
	font-family: Arial;
	font-size: 40pt;
	text-align: center;
	padding-top: 20px;
}

.column2__number {
	color: #fff;
}

.sup {
	vertical-align: super;
	font-size: 35px;
}

.column__PM {
	color: #909090;
	text-align: center;
	text-transform: uppercase;
	font-family: Arial;
	font-size: 8pt;
	padding-bottom: 20px;
}

.column2__PM {
	color:#fff;
}

.column__line {
	width: 250px;
	background-color: #d0d0d0;
	border:none;
	height: 1px;
}

.column2__line {
	background-color: #ade8ff;
}

.column__text {
	padding-bottom: 5px;
	color: #c0c0c0;
	text-transform: uppercase;
	text-align: center;
	font-family: Arial;
	font-size: 8pt;
}
.column2__text {
	color: #c1d9e3;
}